 {% extends '::base.html.twig' %}
 {% block body %}
    {% include 'SiteBundle:Default:carousel.html.twig'  %}
    {% include 'SiteBundle:Default:introBlock.html.twig'  %}
<!-- End Intro Text -->
<div class="container padded">
    <div class="row">
        <div class="col-lg-12"><h2>FOUR MODES</h2><hr></div>
    </div>
    <div class="row">
        {% for item in blockCenter %}
        <div class="col-sm-6 col-md-3">
            <img class="img-circle img-responsive" src="{{ asset('bundles/acmedemo/images/speed.jpg') }}">
            <h3>{{ item.title }}</h3>
            <p>{{ item.body }}</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        {% endfor %}
    </div>
</div>    
<script>
$(function (){
    $('.carousel').carousel({
        interval: 4000
    });
})    
</script>
{% endblock %}