<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="{{ asset('bundles/site/images/moveMe.png') }}">
            </div>
            <div class="col-xs-9">
                <h1>MOVE ME <span class="text-muted">&raquo; Your Travel Companion</span></h1>
                <p class="lead">Move Me is a unique App designed to help people all over the world to get home quicker, by connecting with your local transport network</p>
            </div>
        </div>
    </div>    
</div>